@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;   
    
}

body{
    position: relative;
}

img {
  height: 100%;  
  
}

footer,header{    
  background: url('../public/images/nav.png') no-repeat center center/cover;    
}

footer img {
  border: none;
}

header{
  
  position: sticky;
  z-index: 1000;
  top: 0px;
}


.whatsapp{
    position: fixed;
    display: inline-block;
    top: 50%;
    right: 20px;
    z-index: 1000;
    transition: all 0.7s ease-in-out;
    background-color: lightgreen;
    animation: beat infinite 1s;    
}

.whatsapp img {
  display: none;
}


.whatsapp:hover {
  i{
    display: none;
  }

  img{
    display: block;
    width: 200px
  }  
}
#spinner{
    margin: auto;
    height: 85vh;
    place-content: center;
   
}

#loader{
    width: 70%;
}


#category{
  background: url('../public/images/hero-bg.png') no-repeat center center/cover;

}

#commercials{
  background: url('../public/images/hero-bg.png') no-repeat center center/cover;

  
}

#feature-image{
    box-shadow: 0px 0px 15px 0px blue;
    transition: all ease 0.7s;
}

#feature-image:hover{
    box-shadow: 0px 0px 22px 5px blue;
}
.carousel-container {
    position: relative;    
    overflow: hidden;
    margin: auto;    
    align-items: center;
    justify-content: center;
     
    
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-height: 85svh;
    
    
    
}


.carousel-item {
    flex: 0 0 100%;  
    border-radius: 10px; 
     
    
}





.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(231, 228, 255);
  }

  .carousel-btn:hover{
    color: rgb(157, 157, 255)
  }

  .prev-btn {
    left: 10px;
  }

  .next-btn {
    right: 10px;
  }


#hamburger {
    z-index: 100;
    cursor: pointer;  
}

#hamburger:hover svg{
  color: rgb(152, 152, 241)
}


h1,h2,h3 {
    font-family: 'Outfit', sans-serif;
}


#best-sellers,#kidsWallpaperSection{
    background: url('../public/images/blob-scene-haikei.png') no-repeat center center/cover;
}

#contact-form{
    background: url('../public/images/stacked-waves-haikei.png') no-repeat center center/cover;
}

/* Scroll animation */
.scroller {
    /* width: 100%; */
    max-width: 1024px;
    text-shadow: none;
    
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
 
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .testimonial {
    background-color: rgba(0,0,150,0.1);
    padding: 3rem 1rem;
    margin: 0 1rem;
    box-shadow: 0px 0px 15px 0px blue;
    border-radius: 10px;
  }

@keyframes beat {
    0% {
      transform: none;
    }

    50% {
      transform: scale(1.3);
    }
    100% {
      transform: none;
    }
}

.catalogue img {
  border-bottom: 3px darkblue solid;
}
















